@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

html {
  scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    // transition: opacity 2s;
}

.show {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

.are-same-height {
  display: flex;
}

.navbar-item {
  transition: color 0.3s ease;
  color: #686868; /* Cor correspondente à classe 'has-text-grey-dark' */
}

.navbar-item:hover {
  color: #000000 !important; /* Cor correspondente à classe 'has-text-dark' */
  // font-weight: normal; /* Estilo correspondente à classe 'has-font-weight-normal' */
  text-decoration: none; /* Remove o sublinhado do link */
}

.whatsapp-link:hover {
  color: #00d154 !important; /* Cor correspondente à classe 'has-text-primary' */
}

.instagram-link:hover {
  color: #ff3860 !important; /* Cor correspondente à classe 'has-text-danger-dark' */
}

.phone-link:hover {
  color: #197abc !important; /* Cor correspondente à classe 'has-text-info-dark' */
}

.address-link:hover {
  color: #bea337 !important; /* Cor correspondente à classe 'has-text-warning-dark' */
}




