{{ define "body" }}
<div class="container is-max-widescreen" x-data="{ show: false }" x-init="$nextTick(() => show = true)" x-cloak x-show="show" x-transition.duration.1000ms>

    <div class="columns is-centered">
        <div class="column is-6">
            <div class="box">

                <!-- Title -->
                <div class="block has-text-centered p-4">
                    <h1 class="title">Alteração de senha</h1>
                    <h2 class="subtitle">Preencha os campos para alterar a senha</h2>
                </div>

                <!-- Messages -->
                {{ if .Message }}
                <article class="message is-warning">
                    <div class="message-body has-text-centered">
                        {{ .Message }}
                    </div>
                </article>
                {{ end }}

                <!-- Fields -->
                <div class="block">

                    <form action="/altera-senha" method="post" novalidate>

                        <!-- CSRF Token -->
                        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

                        <!-- Old Password -->
                        <div class="field">
                            <label for="old-password" class="label">Senha antiga</label>
                            <div class="control">
                                <input id="old-password" name="old-password" type="password" class="input">
                            </div>
                        </div>

                        <!-- New Password -->
                        <div class="field">
                            <label for="new-password" class="label">Nova senha</label>
                            <div class="control">
                                <input id="new-password" name="new-password" type="password" class="input">
                            </div>
                        </div>

                        <!-- Retype Password -->
                        <div class="field">
                            <label for="retype-password" class="label">Repita a senha</label>
                            <div class="control">
                                <input id="retype-password" name="retype-password" type="password" class="input">
                            </div>
                        </div>                        

                        <button class="button is-link is-outlined is-light is-fullwidth">Alterar senha</button>

                    </form>

                </div>

            </div>
        </div>
    </div>


</div>
{{ end }}